/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*************************
	General
**************************/
body {
	font-family: 'PT Sans', sans-serif;
}

/*************************
	Menu Banner
**************************/

.logo img {
	width: 9em;
	
}

.top-banner {
	background: #3D3D3D;
	box-shadow: 0 0 15px rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;		// prevent's the portfolio images from going on top as the web page scrolls down.
}

.top-banner:after { 
    content: "";
  	display: table;
  	clear: both;
}


.top-navbar {
	margin-bottom: 0;
	
}

#brand {
	padding-top: 5px;
}

.menu-links  {
	margin-top: 25px;
	margin-bottom: 30px;

	li a {
		font-weight: 700;
		font-size: 1.5em;
		color: #C4C4C4;
	}

	li a:hover {
		color: #FFFFFF;
		background: none;
	}

	li a:focus {
		background: transparent;
	}
}

/********************
	Main image
*********************/

#yi {
	background-image: image-url("brown_desk.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 105px;

	div p {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	div.intro {
		background: none;
		color: #FFFFFF;
		padding-top: 230px;
		
		button a {
			text-decoration: none;
			color: #FFFFFF;
		}	
	}



}

/********************
  portfolio section
*********************/

.showPortfolio {
	text-align: center;
	margin-top: 150px;
	font-size: 30px;
	color: #3D3D3D;
}

.projects {
	background: #F0F0F0;
	margin-top: 50px;
	padding-top: 40px;
}

.project-thumb {
	box-shadow: 10px 0 15px rgba(0,0,0,0.3);
}

/********************
  blog section
*********************/

#blog {
	padding-top: 50px;
}

span.written {
	color: #003EFF;
	font-style: italic;
	font-weight: bold;
}

.show-blog {
	margin-top: 120px;
}

div.blog .content {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/********************
  contact section
*********************/

div.contact {
	margin-top: 40px;
	margin-bottom: 0;
	text-align: center;
}

.social-link img {
	max-width: 8%;
	height: auto;
	padding-top: 10px;
}

/********************
  footer section
*********************/

.footer {
	background:	#3D3D3D;
	padding-top: 20px;
	color: #FFFFFF;
	text-align: center;
}